name: code-quality
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

env:
  AWS_REGION: ${{ vars.AWS_REGION }}
  AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID }}

jobs:
  lint:
    name: ESLint
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Prepare
        uses: ./.github/composite-actions/prepare

      - name: Run ESLint check
        run: pnpm run lint

  type-check:
    name: Type Check
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Prepare
        uses: ./.github/composite-actions/prepare

      - name: Run type checks
        run: pnpm run typecheck

  test:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Prepare
        uses: ./.github/composite-actions/prepare

      - name: Run unit tests
        run: pnpm run test

  deploy-infrastructure:
    name: Deploy AWS Infrastructure
    runs-on: ubuntu-latest
    needs: [ lint, type-check, test ]
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    outputs:
      ecr-repository: ${{ steps.deploy-cdk.outputs.ecr-repository }}

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Prepare
        uses: ./.github/composite-actions/prepare

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/GitHubActionsDeploymentRole
          role-session-name: ${{ github.actor }}_${{ github.job }}

      - name: Deploy CDK stack
        id: deploy-cdk
        run: |
          cd infrastructure/cdk-app
          pnpm exec cdk deploy --require-approval never --outputs-file outputs.json '**'

          # Extract outputs
          ECR_REPO=$(jq -r '.[] | .EcrRepositoryUri' outputs.json)

          echo "ecr-repository=$ECR_REPO" >> $GITHUB_OUTPUT

  build-and-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: deploy-infrastructure
    outputs:
      image-tag: ${{ steps.build-image.outputs.image }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/GitHubActionsDeploymentRole
          role-session-name: ${{ github.actor }}_${{ github.job }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build, tag, and push image
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: $(echo ${{ needs.deploy-infrastructure.outputs.ecr-repository }} | awk -F'/' '{print $NF}')
          IMAGE_TAG: ${{ github.sha }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64
          load: true
          tags: |
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            BUILD_DATE=${{ github.event.head_commit.timestamp }}
            VCS_REF=${{ github.sha }}
            APP_NAME=effect-api-server

